In [16]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [9]:
df = pd.read_csv("Customer Churn_cleaning.csv")

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   call__failure            3150 non-null   int64
 1   complains                3150 non-null   int64
 2   subscription__length     3150 non-null   int64
 3   charge__amount           3150 non-null   int64
 4   seconds_of_use           3150 non-null   int64
 5   frequency_of_use         3150 non-null   int64
 6   frequency_of_sms         3150 non-null   int64
 7   distinct_called_numbers  3150 non-null   int64
 8   age_group                3150 non-null   int64
 9   tariff_plan              3150 non-null   int64
 10  status                   3150 non-null   int64
 11  age                      3150 non-null   int64
 12  customer_value           3150 non-null   float64
 13  churn                    3150 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 344.7 KB

,call__failure,complains,subscription__length,charge__amount,seconds_of_use,frequency_of_use,frequency_of_sms,distinct_called_numbers,age_group,tariff_plan,status,age,customer_value,churn
count,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000
mean,7.627937,0.076508,32.541905,0.942857,4472.459683,69.460635,73.174921,23.509841,2.826032,1.077778,1.248254,30.998413,470.972916,0.157143
std,7.263886,0.265851,8.573482,1.521072,4197.908687,57.413308,112.237560,17.217337,0.892555,0.267864,0.432069,8.831095,517.015433,0.363993
min,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,15.000000,0.000000,0.000000
25%,1.000000,0.000000,30.000000,0.000000,1391.250000,27.000000,6.000000,10.000000,2.000000,1.000000,1.000000,25.000000,113.801250,0.000000
50%,6.000000,0.000000,35.000000,0.000000,2990.000000,54.000000,21.000000,21.000000,3.000000,1.000000,1.000000,30.000000,228.480000,0.000000
75%,12.000000,0.000000,38.000000,1.000000,6478.250000,95.000000,87.000000,34.000000,3.000000,1.000000,1.000000,30.000000,788.388750,0.000000
max,36.000000,1.000000,47.000000,10.000000,17090.000000,255.000000,522.000000,97.000000,5.000000,2.000000,2.000000,55.000000,2165.280000,1.000000

| Bước preprocessing            | Mục đích chính                           |
| ----------------------------- | ---------------------------------------- |
| Tách nhãn                     | Phân tách dữ liệu đầu vào và nhãn        |
| Xử lý thiếu dữ liệu           | Giữ dữ liệu sạch, không lỗi Null         |
| Mã hóa categorical            | Chuyển biến dạng số để mô hình hiểu được |
| Chuẩn hóa dữ liệu             | Đưa dữ liệu cùng thang đo                |
| Xử lý mất cân bằng (nếu có)   | Cân bằng dữ liệu để mô hình không bias   |
| Tách train-test               | Đánh giá mô hình trên dữ liệu chưa học   |
| Trích xuất/lựa chọn đặc trưng | Giảm chiều hoặc chọn biến quan trọng     |

BỎ CỘT LABELS

In [10]:
X = df.drop(columns=['churn'])

X.head()

,call__failure,complains,subscription__length,charge__amount,seconds_of_use,frequency_of_use,frequency_of_sms,distinct_called_numbers,age_group,tariff_plan,status,age,customer_value
0,8,0,38,0,4370,71,5,17,3,1,1,30,197.640
1,0,0,39,0,318,5,7,4,2,1,2,25,46.035
2,10,0,37,0,2453,60,359,24,3,1,1,30,1536.520
3,10,0,38,0,4198,66,1,35,1,1,1,15,240.020
4,3,0,38,0,2393,58,2,33,1,1,1,15,145.805

Chuyển hai biến tariff_plan và status từ giá trị 1/2 về 0/1

In [14]:
df_encoded = X.copy()

df_encoded['tariff_plan'] = df_encoded['tariff_plan'].apply(lambda x: 0 if x == 1 else 1)
df_encoded['status'] = df_encoded['status'].apply(lambda x: 0 if x == 1 else 1)

df_encoded.head()

,call__failure,complains,subscription__length,charge__amount,seconds_of_use,frequency_of_use,frequency_of_sms,distinct_called_numbers,age_group,tariff_plan,status,age,customer_value
0,8,0,38,0,4370,71,5,17,3,0,0,30,197.640
1,0,0,39,0,318,5,7,4,2,0,1,25,46.035
2,10,0,37,0,2453,60,359,24,3,0,0,30,1536.520
3,10,0,38,0,4198,66,1,35,1,0,0,15,240.020
4,3,0,38,0,2393,58,2,33,1,0,0,15,145.805

In [15]:
df_encoded.to_csv("Customer Churn_encoding.csv", index = False)

Chuẩn hóa dữ liệu (Standardization): Giúp các biến có thang đo đồng nhất, tránh biến có giá trị lớn chi phối mô hình.

In [19]:
scaler = StandardScaler()

scaler.fit(df_encoded)
scale_data = scaler.transform(df_encoded)

df_scaled = pd.DataFrame(scale_data, columns=df_encoded.columns)

df_scaled.head()

,call__failure,complains,subscription__length,charge__amount,seconds_of_use,frequency_of_use,frequency_of_sms,distinct_called_numbers,age_group,tariff_plan,status,age,customer_value
0,0.051229,-0.28783,0.636726,-0.619962,-0.024411,0.026816,-0.607513,-0.378158,0.194941,-0.290409,-0.574662,-0.113074,-0.528759
1,-1.050285,-0.28783,0.753384,-0.619962,-0.989807,-1.122926,-0.589691,-1.133331,-0.925616,-0.290409,1.740153,-0.679346,-0.822036
2,0.326608,-0.28783,0.520069,-0.619962,-0.481140,-0.164807,2.547012,0.028473,0.194941,-0.290409,-0.574662,-0.113074,2.061285
3,0.326608,-0.28783,0.636726,-0.619962,-0.065390,-0.060285,-0.643157,0.667466,-2.046172,-0.290409,-0.574662,-1.811888,-0.446775
4,-0.637217,-0.28783,0.636726,-0.619962,-0.495435,-0.199648,-0.634246,0.551285,-2.046172,-0.290409,-0.574662,-1.811888,-0.629033

In [20]:
df_scaled.to_csv("Customer Churn_scaled.csv", index = False)